@using System;
@using Sandbox.UI;

@namespace Dxura.Darkrp.UI
@inherits Panel

<root class="row @( IsLocal ? "local" : "" ) @( IsDead ? "dead" : "" ) with-px-lg with-py">
	<span class="col stat-large">
		@if ( Player.IsValid() )
		{
			<span class="flex align-center space-between gap-sm" style="color: @Player.Job.Color.Hex">
				@Player.Job.Name
			</span>
		}
	</span>

	@* Ping but doesn't work *@
	@* <span class="col stat-small"> *@
	@*        @if ( Connection is not null ) *@
	@* 	{ *@
	@* 	<label class="small">Ping @(Connection?.Ping.CeilToInt())</label> *@
	@* 	} *@
	@* 	else *@
	@* 	{ *@
	@* 	<Icon style="background-tint: red;" File="/ui/no-connection.png" size="24" /> *@
	@* 	} *@
	@*    </span> *@

	<span class="col playername gap-sm">

		<PlayerAvatar ShowHealth="@false" class="avatar" Player="@Player"/>
		<label>
			@Player.DisplayName
		</label>

		@if ( IsPartyMember )
		{
			<Icon File="ui/party-member.png" size="24"></Icon>
		}
	</span>

	@foreach ( var x in IScore.Find( Player ) )
	{
		<label class="col stat">@( x.Value )</label>
	}
</root>

@code {
	public Player Player { get; set; }
	private Connection Connection => Player.Connection;
	private PlayerScore Score => Player.Components.Get<PlayerScore>();

	private bool IsLocal => Player.IsLocalPlayer;
	private bool IsDead => !Player.IsValid() || Player.HealthComponent.State != LifeState.Alive;
	private bool IsPartyMember => PartyRoom.Current?.Members.Any( x => x.Id == Connection.SteamId ) ?? false;

	public bool Disconnected => Connection is null;

	protected override int BuildHash()
	{
		var hash = HashCode.Combine( Connection, IsLocal, IsDead, Connection?.Ping );

		if ( Player.IsValid() )
		{
			hash = HashCode.Combine( hash, IsPartyMember, Player.PlayerColor );
		}

		foreach ( var x in IScore.Find( Player ) )
		{
			hash = HashCode.Combine( hash, x.Value );
		}

		return hash;
	}

}
